[user]
	email = maksim.kudryashov@gazprombank.ru
	name = Кудряшов Максим
[core]
	excludesfile = /Users/mkudryashov/.gitignore
[pull]
	rebase = false
[http]
	sslbackend = secure-transport
	sslVerify = true
